@{
    @model List<ClienteModel>
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hola Mundo</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <a href="/Home/Privacy?nombre=Mateo+Sebastian&apellido=Obregon&edad=20">Politicas de Privacidad</a>
</div>

<div class="row">
    <h2>Lista de Clientes</h2>
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th>cedula</th>
                <th>Nombres</th>
                <th>Apellido</th>
                <th>Edad</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cliente in Model) {
                <tr>
                    <td>@cliente.Cedula_RUC</td>
                    <td>@cliente.Nombre</td>
                    <td>@cliente.Apellido</td>
                    <td>@cliente.Edad</td>
                    <td>
                        <a href="/Home/Privacy?cedula=@cliente.Cedula_RUC&nombre=@cliente.Nombre&apellido=@cliente.Apellido&edad=@cliente.Edad"
                           class="btn btn-primary btn-sm">Editar</a>
                        <a href="/Home/Index" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de eliminar este cliente?');">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<!--
    PAGINAS WEB   CSHTML
GET  => url

    mipagina.com?x=Luis 
    mipagina.com?nombre=Luis&apellido=Llerena&edad=36

    https://www.google.com/search?q=tipo+de+respuesta+de+http
    &sca_esv=439581a86ae48606&sxsrf=AHTn8zoVv8RqaJ7cVGAu8_ft8nnhQetKSQ%3A1739838580639
    &source=hp
    &ei=dNSzZ_nrJPCbwbkPp_zngA4&iflsig=ACkRmUkAAAAAZ7PihDP9_MbCo0U52uup6AYM_gh0DGCT
    &oq=tipo+de+respuesta+de+htt
    &gs_lp=Egdnd3Mtd2l6Ihh0aXBvIGRlIHJlc3B1ZXN0YSBkZSBodHQqAggAMgcQIRigARgKMgcQIRigARgKMgcQIRigARgKMgUQIRifBTIFECEYnwUyBRAhGJ8FMgUQIRifBTIFECEYnwUyBRAhGJ8FMgUQIRifBUjRKVC8BViaHnABeACQAQCYAaIBoAHuF6oBBDAuMjS4AQPIAQD4AQGYAhmgAqoYqAILwgIGELMBGIUEwgIKEAAYAxjqAhiPAcICChAuGAMY6gIYjwHCAgsQABiABBixAxiDAcICBRAAGIAEwgIIEAAYgAQYsQPCAgsQLhiABBjRAxjHAcICDhAuGIAEGLEDGNEDGMcBwgILEAAYgAQYsQMYigXCAgcQABiABBgKwgIGEAAYFhgewgIFEAAY7wXCAggQABiABBiiBMICBRAhGKABmAMK8QX91TcYvkG9BpIHBDEuMjSgB7uYAQ
    &sclient=gws-wiz



MVC

controladores => acciones(metodos) Task  ActionResult IActionResult

https://localhost:7257/controlador/accion/id
https://localhost:7257/home/privacy




-->